.nav-link {
    color: rgb(0, 0, 0);
}

.nav-link:hover,
.navbar-brand:hover {
    background-color: black;
    border-radius: 5px;
    color: white !important;
}

.ends {
    display: grid;
    justify-content: end;
}

.bg-light {
    background-color: white !important;
}

.navbar-icon {
    width: 50px;
}

.navbar-toggler {
    border: 0;
}

.navbar {
    margin-left: 7%;
    margin-right: 7%;
}