.bg-light {
    background-color: #e85240 !important;
}

.nav-link {
    display: flex;
    justify-content: end;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.nav-link:hover {
    color: #dd4e3c;
}

.modal-header {
    background-color: rgba(117, 40, 32, 1);
    border: none;
}

.modal-body {
    background-color: rgba(232, 82, 64, 1);
}

.navbar-icon {
    width: 50px;
}