.nav-link {
    display: flex;
    justify-content: end;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.bg-light {
    background-color: white !important;
}

.navbar-icon {
    width: 50px;
}

.navbar-toggler {
    border: 0;
}