#hero {
    height: 80vh;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6vh;
}


h2 {
    font-size: 2.3em;
    font-weight: 700;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: right;
}

hr {
    margin-bottom: 50px;
}

h3 {
    padding-top: 10px;
    font-weight: 300;
}

a {
    display: inherit;
    color: inherit;
}

a:hover {
    color: white !important;
}

.social {
    margin-top: 10px;
    margin-right: 10px;
}

.career {
    font-size: 1.4em;
}

.wavy-hand {
    width: 30px;
    margin-bottom: 10px;
}

.introduction {
    padding-top: 100px;
    margin: 30px;
}

.brand {
    overflow: hidden;
    display: -webkit-inline-box;
    font-size: 2.1em;
    letter-spacing: 1.5px;
    border-right: .10em solid;
    white-space: nowrap;
    animation: typing 3.5s ease,
        blink-caret .75s ease infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

.icon {
    display: flex;
    justify-content: center;
}

.icon img {
    padding-top: 100px;
    width: 50%;
}

#about .container {
    padding: 40px 40px 0 40px;
}

.images {
    display: grid;
    justify-content: center;
}

#projects {
    text-align: right;
}

#projects .container {
    padding: 40px 40px 0 40px;
}

#projects .row {
    margin: 50px 0;
}

#projects img {
    width: 150px;
    border-radius: 20px;
    margin: 30px;
}

#projects .irongame {
    width: 300px;
}

.btn-projects {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.mern {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.mern img {
    width: 90px;
}

#contact {
    padding: 40px;
    text-align: center;
}


.email {
    margin-right: 10px;
}


@media (min-width: 576px) {
    #hero {
        height: 100vh;
    }

    .brand {
        font-size: 2.9em;
    }

    .career {
        font-size: 1.7em;
    }

    .icon img {
        padding-top: 50px;
        width: 20%;
    }

    .mern img {
        width: 150px;
    }

    p {
        font-size: 1.3em;
    }

    #projects img {
        width: 250px;
    }

    #projects .irongame {
        width: 550px;
    }
}